body{
    font-family: 'Raleway', sans-serif;
    background-image: url('../img/main.jpg');
    background-repeat: repeat;
    background-size: cover;


}

/*nav*/

a{
    color: #2C363F;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: 700;
}

.nav-link {
    font-size: 1.1rem;
    font-weight: 400;
}

.hero-content {
    margin-top: 4rem;
}

.hero-content h1{
    font-weight: 900;
    font-size: 3.5rem;
}

.hero-content h3{
    font-weight: 700;

}

.profile-img{
    border-radius: 100%;
}

.social-icons-hero div{
    border: 1px solid #2C363F;
    border-radius: 50%;
    background-color: #B3DFEC;
}

/*About*/

.section-heading {
    font-weight: 700;
    font-size: 3.5rem;
}

.btn-main{
    background-color: #2C363F;
    color: #fafaff;
    font-size: 1.3rem;
}

/*Services*/
.service{
    border-radius: 2rem;
}

.service h3{
    font-weight: 700;
}
.service i{
    font-size: 2rem;
}

/* Contact */

.contact input,
.contact textarea {
    padding: 1rem 0.4rem;
    font-size: 1.3rem;
    width: 100%;
}